.experience_wrapper {
	width: 90%;
	margin: 0 auto 2em auto;
	padding: 1em;
	position: relative;
}

.experience_wrapper::after {
	content: "";
	display: block;
	position: absolute;
	bottom: -1em;
	left: 0;
	width: 100%;
	height: 1em;
	background: linear-gradient(135deg, #fff 25%, transparent 25%) -0.5em 0,
		linear-gradient(225deg, #fff 25%, transparent 25%) -0.5em 0,
		linear-gradient(315deg, #fff 25%, transparent 25%),
		linear-gradient(45deg, #fff 25%, transparent 25%);
	background-size: 1em 1em;
	background-color: #eee;
}

.experience_logo {
	width: 30%;
	display: block;
	margin: 0 auto;
}

.experience_modal {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	text-align: left;
	padding: 0.25em;
	grid-gap: 0.25em;
	align-items: center;
}

.experience_modal h1 {
	margin: 0;
}

.experience_modal ul {
	grid-column: 2;
}

.experience_list {
	width: 90%;
	position: relative;
	margin: 0 auto;
}

.experience_list > li {
	margin-bottom: 1em;
	position: relative;
	padding-left: 20%;
}

.experience_list::after {
	content: "";
	position: absolute;
	width: 2px;
	background-color: #eee;
	top: 3em;
	bottom: 3em;
	left: 0;
	margin-left: -1px;
}

.experience_list > li::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0;
	background-color: white;
	border: 4px solid #8a2aff;
	top: 50%;
	border-radius: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}

.experience_list > li:hover::after {
	background-color: #8a2aff;
}

@media (min-width: 700px) {
	.experience_wrapper {
		width: 50%;
	}

	.experience_modal {
		padding: 1em;
	}
}
