figure {
	margin: 1em auto;
	position: relative;
	overflow: visible;
}

.avatar_border::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: -10px;
	left: 15px;
	background-color: #8a2aff;
	clip-path: url(#avatarClipPath);
}

.avatar_border::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 5px;
	left: -10px;
	background-color: #8a2aff;
	clip-path: url(#avatarClipPath);
}

.avatar {
	-webkit-clip-path: url(#avatarClipPath);
	clip-path: url(#avatarClipPath);
}
