.intro_text_wrapper {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: 0 auto;
}

.intro_text-title {
	font-size: 3.5em;
	line-height: 1em;
	font-weight: bold;
	font-family: "Sacramento", cursive;
}

.intro_text-sub {
	white-space: nowrap;
	font-size: 1.8em;
	line-height: 2em;
	font-weight: bold;
	color: #8a2aff;
}

.intro_text-details {
	font-size: 0.7em;
	line-height: 1.4em;
	color: #373d3f;
}

@media (max-width: 700px) {
	.intro_text_wrapper {
		width: 70%;
	}
}

@media (min-width: 900px) {
	.intro_text_wrapper {
		width: 50%;
	}

	.text_size-1 {
		font-size: 3em;
		line-height: 1em;
		font-weight: bold;
	}

	.text_size-2 {
		font-size: 2.2em;
		line-height: 2em;
		font-weight: bold;
	}

	.text_size-3 {
		font-size: 0.9em;
		line-height: 1.4em;
	}
}
