.contact_wrapper {
	width: 90%;
	margin: 0 auto;
	padding: 1em;
	position: relative;
}

.contact_wrapper > h1 {
	margin-bottom: 2em;
}

#contactForm {
	display: grid;
	grid-template-columns: 0.5fr 2fr;
	grid-gap: 2em;
	width: 80%;
	margin: 0 auto;
	text-align: right;
}

#contactForm button {
	grid-column: 2;
	display: inline-block;
	width: 100%;
}

textarea,
input {
	padding: 0.5em;
	display: inline-block;
	width: 100%;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #eee;
	transition: all 0.5s;
	outline: none;
}

textarea:focus,
input:focus {
	transition: all 0.5s;
	border-bottom-color: #111;
}

textarea {
	width: 100%;
	display: block;
}

@media (min-width: 700px) {
	.contact_wrapper {
		width: 50%;
	}

	#contactForm button {
		width: 30%;
	}

	input {
		width: 40%;
	}

	textarea {
		width: 100%;
	}
}
