.about_wrapper {
	display: grid;
	width: 90%;
	margin: 0 auto;
	align-items: center;
	background-color: #eee;
	grid-template-columns: 1fr;
	padding: 1em;
}

.about_social {
	display: flex;
	justify-content: space-between;
	font-family: "Open Sans", sans-serif;
	--icon-background: transparent;
}

.about_wrapper > h1 {
	font-size: 2.5em;
	line-height: 1em;
	font-weight: bold;
	font-family: "Sacramento", cursive;
}

.about_details {
	font-size: 0.85em;
	align-self: end;
	color: #373d3f;
}

@media (min-width: 700px) {
	.about_wrapper {
		width: 40%;
		grid-template-columns: 30% 70%;
		grid-gap: 1em;
		padding: 3em 10em;
	}

	.about_social {
		grid-column: 2;
		grid-row: 2;
	}
}
