@import url("https://fonts.googleapis.com/css?family=Open+Sans|Sacramento&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 26px;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
	color: #111111;
}

.list-unstyled {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.list-inline > li {
	display: inline-block;
	margin: 1em;
	vertical-align: middle;
}

.home_wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-auto-flow: row;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	grid-template-areas:
		"text"
		"avatar"
		"border"
		"social";
}

.bottom_border {
	grid-row: span 2;
	position: relative;
}

.bottom_border::before {
	content: "";
	width: 90%;
	left: 5%;
	height: 2px;
	background-color: #24292e;
	position: absolute;
	margin: 0 auto;
	top: -1.4em;
}

.title_underline {
	position: relative;
}

.title_underline::after,
.title_underline::before {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #8a2aff;
	left: 0;
}

.title_underline::before {
	bottom: -8px;
	width: 3em;
}

.title_underline::after {
	bottom: -12px;
	width: 2em;
}

@media (min-width: 700px) {
	.home_wrapper {
		grid-template-columns: 3fr 1fr;
		width: 80%;
		grid-template-areas:
			"text avatar"
			"border social";
	}

	.bottom_border {
		grid-column: span 2;
	}
}
