.btn {
	--btn-color: #8a2aff;
	--btn-background-color: #fff;
	--btn-text-color: #111;
	--btn-text-hover-color: #fff;
	background-color: var(--btn-background-color);
	color: var(--btn-text-color);
	border: 1px solid var(--btn-color);
	padding: 1em 2em;
	transition: all 0.5s;
	font-size: 1em;
	letter-spacing: 2px;
	box-shadow: 0.3em 0.3em 0 0 var(--btn-color),
		inset 0.3em 0.3em 0 0 var(--btn-color);
}

.btn:disabled {
	opacity: 0.3;
	cursor: not-allowed;
}

.btn:focus:not(:disabled),
.btn:hover:not(:disabled) {
	color: var(--btn-text-hover-color);
	box-shadow: 0 0 0 0 var(--btn-color), inset 6em 3.5em 0 0 var(--btn-color);
	cursor: pointer;
}

.btn.btn-small {
	padding: 0.5em 1em;
}

.btn.btn-gray {
	--btn-color: #999;
}

.btn.btn-transparent {
	--btn-color: transparent;
	--btn-background-color: transparent;
	--btn-text-color: #111;
	--btn-text-hover-color: #020202;
	transition: unset;
	padding: 0;
}
