.modal_wrapper {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(17, 17, 17, 0.6);
	z-index: 998;
	opacity: 1;
	visibility: visible;
	transition: all 0.5s;
}

.modal_container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Open Sans", sans-serif;
	width: 100%;
	height: 80%;
	display: grid;
	grid-template-rows: 0.5fr 1fr 0.5fr;
	z-index: 999;

	font-size: 16px;
	line-height: 26px;
	opacity: 1;
	visibility: visible;
	transition: all 0.5s;
	text-align: center;
	background-color: #fff;
	padding: 0.25em;
}

.modal_wrapper.off > .modal_container,
.modal_wrapper.off {
	opacity: 0;
	visibility: hidden;
}

.modal_container header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;
	align-items: center;
}

.modal_container footer {
	justify-self: center;
	align-self: center;
}

.modal_close {
	cursor: pointer;
}

.modal_content {
	overflow: auto;
}

@media (min-width: 700px) {
	.modal_container {
		width: 50%;
		height: 90%;
		grid-template-rows: 1fr 4fr 1fr;
		padding: 1em;
	}
}
