aside {
	grid-area: social;
}

.social_bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.social_bar > li {
	display: inline-block;
	margin: 0 0.5em;
}

.social_icon_wrapper {
	display: inline-block;
	cursor: pointer;
	border-radius: 100em;
	text-align: center;
	position: relative;
	z-index: 1;
	transition: box-shadow 0.2s;
	width: 1.25em;
	height: 1.25em;
	background-color: var(--icon-background, #fff);
}

.social_icon_wrapper:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0 0 0 1px #24292e;
	transition: transform 0.2s, opacity 0.2s;
}

.social_icon_wrapper:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	opacity: 0.5;
}

.social_icon_wrapper:hover {
	box-shadow: 0 0 0 3px rgba(36, 41, 46, 1);
	color: #24292e;
}

.social_icon-dark {
	color: #24292e;
}
