nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	position: relative;
	flex-direction: column;
}

@media (min-width: 700px) {
	nav {
		flex-direction: row;
		margin: 0 auto;
		width: 80%;
	}
}
