.nav_link_wrapper {
	list-style-type: none;

	padding: 0.5em;
	margin: 0;
}

.nav_link_wrapper > li {
	display: inline-block;
	margin: 1em;
}

.nav_link {
	color: #a256ff;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	position: relative;
}

.nav_link::after,
.nav_link::before {
	content: "";
	position: absolute;
	bottom: -2px;
	width: 0px;
	height: 2px;
	transition: all 0.2s ease-in-out;
	transition-duration: 0.3s;
	opacity: 0;
	background-color: #943dff;
}

.nav_link::before {
	left: 50%;
}

.nav_link::after {
	right: 50%;
}

.nav_link:hover::before,
.nav_link:hover::after {
	width: 50%;
	opacity: 1;
}
