.nav_title {
	--stroke-color: #0c040e;
	font-size: 4rem;
	letter-spacing: 6px;
	margin: 0;
	line-height: 4rem;

	color: #fff;
	text-shadow: -2px 0 var(--stroke-color), 0 -2px var(--stroke-color),
		2px 0 var(--stroke-color), 0 2px var(--stroke-color),
		2px 2px var(--stroke-color), -2px -2px var(--stroke-color),
		-2px 2px var(--stroke-color), 2px -2px var(--stroke-color),
		4px 4px #a256ff;
}
