.page_footer {
	width: 100%;
	background-color: #111;
	display: flex;
	height: 5em;
	color: #fff;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
}

.copyright_text {
	margin-left: 1em;
	font-size: 0.8em;
}
